.card-register {
    background-color: #0b1011;
}

.card-register .title {
    color: #FFFFFF;
}

.card-register .btn {
    margin-top: 20px;
}

.btn-link-white {
    color: #FFFFFF;
    font-weight: 600;
    text-decoration: none;
}

.register-footer {
    background-attachment: fixed;
    position: relative;
    line-height: 20px;
}