<div class="section section-buttons">
    <div class="container">
        <div class="tim-title">
            <h2>Про нас</h2>
        </div>
        <div class="container">
                <div class="row mb-3">
                    <div class="col-sm">
                        <img src="assets/img/uriel-soberanes.jpg" class="img-rounded img-responsive" alt="Rounded Image">
                    </div>
                    <div class="col-sm">
                        Інформація про команію
                    </div>
                </div>
                <div class="row">
                    Інформація теж тут.
                </div>
          </div>
</div>
