<ngx-spinner bdColor = "rgba(0, 0, 0, 0.8)" size = "medium" color = "#fff" type = "ball-grid-beat" [fullScreen] = "true"></ngx-spinner>
<div class="container px-md-0">
    <div class="row justify-content-center mb-5">
        <div class="col-md-10 col-12">
          <div class="row no-gutters justify-content-between mb-2">
            <div>
              <a [routerLink]="['/add-product']" class="btn btn-block btn-outline-default btn-round"><i class="nc-icon nc-simple-add"></i> Додати товар</a>
            </div>
          </div>
                <div class="mb-3" *ngFor="let product of products">
                    <volur-product-item [id]="product.id"
                                      [product]="product"
                                      (deletedProduct)="deleteProduct($event)">
                    </volur-product-item>
                </div>
        </div>
    </div>
</div>
