.vacancies {
    margin-bottom: 50px;
    margin-top: 30px;

    .vacancy-hidden {
        display: none;
    }
}

.dark-text,
.title-careers {
    font-size: 1.1rem;
}

.select-offer {
    display: inline;
    max-height: 40px;

    ng-select {
        width: 100%;
    }
}

input {
    line-height: 13px;
    border: 1px solid #ccc;
    height: 100%;
    width: 100%;
    border-radius: 3px;
    background-color: #ffffff;
    font-size: 16px;
    font-weight: 400;
    margin-right: 8px;
    color: #333;
    border: solid 1px rgba(151, 151, 151, 0.2);

    &.search {
        padding: 7px 14px 9px 14px;

        // IE 10+
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
          padding: 4px 14px;
        }
        // Firefox any ver
         @supports ( -moz-appearance:none ){
          padding: 6px 14px 7px 32px;
        }
        &::placeholder {
            padding-left: 30px;
            background-image: url(./../../../../assets/img/apple-icon.png);
            background-repeat: no-repeat;
            background-size: 22px 22px;
            background-position: 0 3px;

            // IE 10+
            @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
              background-size: 20px 19px;
              background-position: 4px 10px;
            }
            // Firefox any ver
            @supports ( -moz-appearance:none ){
              background-size: 20px 19px;
              background-position: 6px 10px;
            }
        }
    }
}

input::placeholder {
    font-size: 16px;
    font-weight: 300;
    color: #6b6b6b;
    opacity: .8;
    padding-top: 3px;
}

.select-offer {
    padding: 0 4px;

    ::ng-deep .ng-select {
        margin: 0;
        width: 100%;
        margin-right: 8px;
        border-radius: 3px;
        display: inline-block;

        .ng-placeholder {
            padding-top: 3px;
            font-size: 16px;
            font-weight: 300;
            color: #6b6b6b;
        }

        &.custom {
            min-height: 0px;
            background-color: #ffffff;

            .ng-select-container {
                height: 40px;
                background-color: #ffffff;
                border: solid 1px rgba(151, 151, 151, 0.2);

                &.ng-has-value {
                    .ng-placeholder {
                        display: block;
                    }
                }

                .ng-value {
                    display: none;
                }
            }

            .ng-dropdown-panel {
                z-index: 2;
                border-radius: 2px;
                background-color: #ffffff;
                border-top: solid 1px rgba(0, 0, 0, 0.2);
                left: 0;

                .scroll-host {
                    .ng-option {
                        padding: 5px 10px;
                        font-size: 12px;
                        font-weight: normal;
                        color: #6b6b6b;
                        font-family: Lato;
                        text-align: left;

                        i {
                            width: 14px;
                            height: 13px;
                            border-radius: 2px;
                            background-color: #ffffff;
                            color: #ffffff;
                            border: solid 1px #b5b5b5;
                            margin-right: 10px;
                        }

                        &:hover {
                            color: #0097a7;
                            background-color: #ffffff;
                        }

                        &:focus,
                        &:active,
                        &.ng-option-selected {
                            color: #0097a7;
                            background-color: #ffffff;

                            i {
                                background-color: #0097a7;
                                border: solid 1px #0097a7;
                            }
                        }
                    }
                }
            }
        }
    }
}

.user-filters {
    .user-filter {
        padding: 3px 0px 3px 6px;
        margin-right: 10px;
        font-size: 12px;
        display: inline-block;
        margin-top: 5px;
        color: #0097a7;
        border: 1px solid #B4E4E9;
        background: #F8FEFF;

        .user-filter-delete {
            color: rgba(151, 151, 151, 0.2);
            cursor: pointer;

            img {
                width: 10px;
                position: relative;
                top: -1px;
            }
        }
    }
}

@media screen and (max-width: 991px) {
    .filter-parent {
        .filter {
            .form {
                ::ng-deep .filter-select {
                    justify-content: center;
                }
            }
        }
    }
}

@media screen and (max-width: 767px) {
    .form {
        margin-top: 20px;
        text-align: center;
    }

    .filter {
        .title-careers {
            .drop {
                background-image: url(/assets/img/system_icons/arrow_down.svg);
                background-repeat: no-repeat;
                background-position-x: center;
                background-position-y: center;
                display: inline-block;
                margin: 0;
                width: 25px;
                height: 100%;
                transform: rotate(180deg);

                &.collapsed {
                    transform: rotate(0);
                }
            }
        }

        .select {
            margin: 0 auto;
            margin-bottom: 10px;
            width: 90%;
            padding-right: 0px;
        }

        .select-offer {
            padding: 0 4px;
            margin: 5px 0;

            ::ng-deep .ng-select {
                &.custom {
                    .ng-dropdown-panel {
                        .scroll-host {
                            .ng-option {
                                font-size: 14px;

                                i {
                                    width: 15px;
                                    height: 15px;
                                }
                            }
                        }
                    }
                }
            }
        }

        .select-offer:last-child {
            margin-bottom: 15px;
        }
    }

    .form-border {
        margin: 0 auto;
        background-color: #ffffff;

        ::ng-deep .title-careers {
            padding: 7px 0;
            display: block;
            margin: 0 auto;
            text-align: center;

            p {
                padding-top: 0;
            }
        }
    }
}

.hidden {
    display: none;
}

.not-found {
    color: #6b6b6b;
    font-size: 1rem;

    a {
        color: #f57c00;
    }
}

.admin-filter-tabs {
  ::ng-deep .nav-pills {
    ::ng-deep .tab {
      margin: 25px 0 0 25px;

      .nav-link {
        padding: 0;
        background-color: #fff;
        color: #828282;

        span {
          font-size: 18px;
          font-weight: normal;
          padding: 2px;
        }

        &.active {
          span {
            color: #00e5ff;
            border-bottom: solid 2px #0097a7;
            border-radius: 0;
            width: 120px;
          }
        }
      }
    }
  }
}
